type {{ .Name }}Actor interface {
{{- range .Services }}
	{{ .Name }}
{{- end }}
}

type {{ lowerFirst .Name }}Handler struct {
	handler {{ .Name }}Actor
}
{{ if .RouteKeyField }}
type {{ lowerFirst .Actor }}{{ toCamel .RouteKeyField }}Key struct{}

// Get{{ toCamel .RouteKeyField }}Key returns the {{ .RouteKeyField }} route key from ctx.
func Get{{ toCamel .RouteKeyField }}Key(ctx context.Context) (uint64, error) {
	{{ lowerFirst (toCamel .RouteKeyField) }}, ok := ctx.Value({{ lowerFirst .Actor }}{{ toCamel .RouteKeyField }}Key{}).(uint64)
	if !ok {
		return 0, fmt.Errorf("missing route key {{ .RouteKeyField }}")
	}

	return {{ lowerFirst (toCamel .RouteKeyField) }}, nil
}
{{ end }}

func (h *{{ lowerFirst .Name }}Handler) Receive(ctx grainactor.Context, req *cluster.GrainRequest) (proto.Message, error) {
	switch req.MethodIndex {
{{- range .Methods }}
	case {{ .Index }}:
		msg := &{{ .Method.Input }}{}
		if err := proto.Unmarshal(req.MessageData, msg); err != nil {
			return nil, cluster.NewGrainErrorResponse(cluster.ErrorReason_INVALID_ARGUMENT, err.Error()).
				WithMetadata(map[string]string{
					"argument": msg.String(),
				})
		}
		{{- if .Method.Options.Oneway }}
		{{- if .Service.RouteKeyField }}
		if !req.HasRouteKey {
			return nil, fmt.Errorf("missing route key {{ .Service.RouteKeyField }}")
		}
		handlerCtx := grainactor.ToContext(ctx, grainactor.WithValue({{ lowerFirst .Service.Actor }}{{ toCamel .Service.RouteKeyField }}Key{}, req.RouteKey))
		if err := h.handler.{{ .Method.Name }}(handlerCtx, msg); err != nil {
			return nil, err
		}
		{{- else }}
		if err := h.handler.{{ .Method.Name }}(ctx, msg); err != nil {
			return nil, err
		}
		{{- end }}
		return nil, nil
		{{- else }}
		{{- if .Service.RouteKeyField }}
		if !req.HasRouteKey {
			return nil, fmt.Errorf("missing route key {{ .Service.RouteKeyField }}")
		}
		handlerCtx := grainactor.ToContext(ctx, grainactor.WithValue({{ lowerFirst .Service.Actor }}{{ toCamel .Service.RouteKeyField }}Key{}, req.RouteKey))
		return h.handler.{{ .Method.Name }}(handlerCtx, msg)
		{{- else }}
		return h.handler.{{ .Method.Name }}(ctx, msg)
		{{- end }}
		{{- end }}
{{- end }}
	default:
		return nil, cluster.NewGrainErrorResponse(cluster.ErrorReason_NOT_FOUND, fmt.Sprintf("unknown grain method index %d", req.MethodIndex))
	}
}

func New{{ .Name }}BaseActor(handler {{ .Name }}Actor, state any, opts ...grainactor.Option) actor.Actor {
	if state != nil {
		opts = append(opts, grainactor.WithState(state))
	}
	return grainactor.NewBaseActor("{{ .Actor }}", "{{ .Kind }}", &{{ lowerFirst .Name }}Handler{handler: handler}, opts...)
}

func New{{ .Name }}Kind(handler {{ .Name }}Actor, state any, opts ...actor.PropsOption) *cluster.Kind {
	props := actor.PropsFromProducer(func() actor.Actor {
		return New{{ .Name }}BaseActor(handler, state)
	}, opts...)
	return cluster.NewKind("{{ .Kind }}", props)
}
