var (
	allServiceGrainClients = &allServiceGrainClientSet{}
)

type allServiceGrainClientSet struct {
{{- range $serviceName := .Services }}
	base{{ $serviceName }}GrainClient *Base{{ $serviceName }}GrainClient
{{- end }}
}

// InitServiceGrainClients initializes shared base grain clients for all generated grain services.
func InitServiceGrainClients(fn func() *cluster.Cluster, opts ...cluster.GrainCallOption) {
{{- range $serviceName := .Services }}
	allServiceGrainClients.base{{ $serviceName }}GrainClient = NewBase{{ $serviceName }}GrainClient(fn, opts...)
{{- end }}
}

{{ range $serviceName := .Services }}
// GetBase{{ $serviceName }}GrainClient returns the shared base client for {{ $serviceName }}.
func GetBase{{ $serviceName }}GrainClient() *Base{{ $serviceName }}GrainClient {
	return allServiceGrainClients.base{{ $serviceName }}GrainClient
}
{{ end }}
